

/* Font import links */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');


:root {
    
    /* Typography */

    --font-title: 'Cormorant Garamond', serif;
    --font-main: 'Lora', serif;

    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    
    --item-space-1: 0.2em;
    --item-space-2: 0.5em;
    --item-space-3: 1em;
    --item-space-4: 1.5em;
    --item-space-5: 2em;
    --item-space-6: 2.5em;
    --item-space-7: 3em;
    
    --fontSize-title-1: 1.5em;
    --fontSize-title-2: 2.2em;
    --fontSize-title-3: 2.5em;
    --fontSize-title-4: 3.0em;
    --fontSize-title-5: 3.5em;

    --fontSize-body-1: 0.6em;
    --fontSize-body-2: 0.7em;
    --fontSize-body-3: 0.8em;
    --fontSize-body-4: 1.1em;

    --fontSize-subtitle-1: 0.6em;
    --fontSize-subtitle-2: 0.7em;
    --fontSize-subtitle-3: 0.9em;
    --fontSize-subtitle-4: 1.2em;
    --fontSize-subtitle-4: 1.5em;
    --fontSize-subtitle-4: 2em;

    --lineHeight-1: 20px;
    --lineHeight-2: 25px;
    --lineHeight-3: 30px;
    
    --letterSpacing-1: 1px;
    --letterSpacing-2: 2px;
    --letterSpacing-3: 3px;

    
    /* Colors */

    --primary-color: hsl(38, 53%, 60%);
    --primary-color-light: hsl(38, 61%, 73%);
    --primary-color-dark: #a37d3a;
    --variation-color-white: hsla(0, 0%, 100%, 1);
    --black: hsl(20, 7%, 8%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1)

}
